.teko-uniquifier {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.mukta-extralight {
    font-family: "Mukta", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.jomhuria-regular {
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
}

#menu {
    background-color: black;
    width: 2120px;
    height: 108px;
    display: flex;
}

body {
    background-color: #000000;

}

.conteudo {

    display: flex;
    font-family: "Jomhuria", serif;
    justify-content: center;
    align-items: center;
    padding: 50px;

}

.mainagente {
    font-size: 70px;

}

li {
    list-style-type: none;
}

section {
    padding-bottom: 200px;
}

ul {

    display: flex;
    justify-content: center;
    align-items: center;
}

.logomap {
    width: 300px;
}

.gallery-image {
    width: 260px;
}

h1 {
    font-family: "Jomhuria", serif;
    color: white;
}

.button {
    --color: #00A97F;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 100px;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}

.button::before,
.button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.button::before {
    top: -1em;
    left: -1em;
}

.button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
    height: 410px;
    width: 410px;
}

.button:hover {
    color: rgb(10, 25, 30);
}

.button:active {
    filter: brightness(.8);
}

nav {
    position: fixed;
}

section{
    padding-top: 120px;
}
